

.main{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 70px;
  
}

header{
  margin: 0;
  position: relative;
  width: 100%;
}

h1{
  border-bottom: 1.5px solid black;
  padding: 6%  20%;
  font-size: 60px;
  text-align: left;
  
}

.link{
  font-weight: 400;
  text-decoration: none;
  color: grey;
}

.body{
  margin: 0;
  padding: 0; 
  width: 100vw;
}